In [1]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import chi2_contingency, ttest_ind

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [7]:
# cargamos el dataframe correspondiente 
df = pd.read_csv("archivos/Mental-health-Depression-disorder-Data.csv", index_col = 0)

display(df.head(10))

,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
index,,,,,,,,,,
0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
5,Afghanistan,AFG,1995,0.160076,0.698695,0.09098,4.828337,1.728112,4.104207,0.668746
6,Afghanistan,AFG,1996,0.160249,0.698914,0.089709,4.828083,1.737643,4.107500,0.667727
7,Afghanistan,AFG,1997,0.160554,0.699127,0.088372,4.827726,1.746891,4.110834,0.666220
8,Afghanistan,AFG,1998,0.160931,0.699372,0.08733,4.826971,1.756963,4.114438,0.664676
9,Afghanistan,AFG,1999,0.161311,0.699674,0.086267,4.826413,1.770791,4.117633,0.663428

# Dimensiones df

In [9]:
print(f'Num. filas df: {df.shape[0]}')
print(f'Num. columnas df: {df.shape[1]}')

Num. filas df: 108553
Num. columnas df: 10

# Nombres columnas

In [10]:
print(f'Nombres columnas df: {df.columns}')

Nombres columnas df: Index(['Entity', 'Code', 'Year', 'Schizophrenia (%)', 'Bipolar disorder (%)',
       'Eating disorders (%)', 'Anxiety disorders (%)',
       'Drug use disorders (%)', 'Depression (%)',
       'Alcohol use disorders (%)'],
      dtype='object')

# Informacion df

In [11]:
# Informacion general 
print(f'Informacion df: {df.info()}')

<class 'pandas.core.frame.DataFrame'>
Index: 108553 entries, 0 to 108552
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Entity                     108553 non-null  object
 1   Code                       103141 non-null  object
 2   Year                       108553 non-null  object
 3   Schizophrenia (%)          25875 non-null   object
 4   Bipolar disorder (%)       19406 non-null   object
 5   Eating disorders (%)       100236 non-null  object
 6   Anxiety disorders (%)      6468 non-null    float64
 7   Drug use disorders (%)     6468 non-null    float64
 8   Depression (%)             6468 non-null    float64
 9   Alcohol use disorders (%)  6468 non-null    float64
dtypes: float64(4), object(6)
memory usage: 9.1+ MB
Informacion df: None

# % Nulos

In [ ]:
nulos = df.isnull().sum()

# % Nulos
print(f'% Nulos df: {(nulos/df.shape[0]*100).round(2)}')

% Nulos df: Entity                        0.00
Code                          4.99
Year                          0.00
Schizophrenia (%)            76.16
Bipolar disorder (%)         82.12
Eating disorders (%)          7.66
Anxiety disorders (%)        94.04
Drug use disorders (%)       94.04
Depression (%)               94.04
Alcohol use disorders (%)    94.04
dtype: float64

# Duplicados

In [13]:
print(f'Los duplicados que tenemos en df: {df.duplicated().sum()}')

Los duplicados que tenemos en df: 9718